
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.background {
  background: url("./img/background.png"), no-repeat, center;
  background-size: cover;
  height: 100vh;
}

.header {
  background: white;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  width: 250px;
  height: 50px;

  @media (max-width: 768px) {
    width: 150px;
    height: 30px;
  }
}

.search {
  margin-top: 40px;
  display: flex;
  justify-content: end;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: black;
}

.main {
  position: relative;
}

.card-body {
  width: 1200px;
  height: 500px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: darkblue 2px solid;
}
#password {
  margin-bottom: 10px;
}

.modal-dialog {
  position: absolute;
  top: 50px;
  left: 28%;
 width: 50%;
  @media (max-width: 930px) {
    left: 18%;
    width: 90%;
  }
  @media (max-width: 768px) {
    left: 18%;
    width: 90%;
  }
  @media (max-width: 480px) {
    top: 80px;
    left: 5%;
    width: 90%;
  }
}

@media (max-width: 580px) {
  .modal-title {
    font-size: 1rem;
  }
  .form-control {
    font-size: 0.7rem;
  }
}



.search {
  margin-top: 40px;
  display: flex;
  justify-content: end;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}
.main {
  position: relative;
}

.card-body {
  display: flex;
  width: 1200px;
  min-height: 500px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: darkblue 2px solid;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  align-items: start;
}

.modal-dialog{
  position: absolute;
  top: 50px;
  left: 28%;
  width: 44%;
}

.card{

  position: relative;
  width: 25%;
  display: flex;
  text-align: center;
  box-sizing: border-box;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0, 125);
  border-radius: 0.25rem;
}

.card-header {
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;

}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.icon-del{
  position: absolute;
  right: 5px;
  top:1px;
}
.icon-add-task{
  position: absolute;
  right: 35px;
  top:5px
}

.title{
  background-color: rgba(0,0,0,0.04);
  padding: 10px;
  box-sizing: content-box;
  margin-top: 10px;
}

.descript{
  background-color: rgba(0,0,0,0.04);
  padding: 10px;
}

.hide{
  display: none;
}

.show{
  display:block;
}


